In [1]:
import networkx as nx
import pandas as pd
import numpy as np
import sqlite3
import matplotlib.pyplot as plt
import diplomatic_exchanges as de

In [3]:
conn = sqlite3.connect('diplomatic.db')
data = de.get_data_for_regression(conn, 2005)

In [6]:
data.columns

Index(['index', 'pagerank', 'betweenness', 'closeness', 'degree', 'in_degree',
       'out_degreee', 'node_id', 'year', 'index', 'destination country',
       'destination city', 'description', 'time', 'year', 'year_aggregate',
       'ccode', 'index', 'countrycode', 'country', 'currency_unit', 'year',
       'rgdpe', 'rgdpo', 'pop', 'emp', 'avh', 'hc', 'ccon', 'cda', 'cgdpe',
       'cgdpo', 'cn', 'ck', 'ctfp', 'cwtfp', 'rgdpna', 'rconna', 'rdana',
       'rnna', 'rkna', 'rtfpna', 'rwtfpna', 'labsh', 'irr', 'delta', 'xr',
       'pl_con', 'pl_da', 'pl_gdpo', 'i_cig', 'i_xm', 'i_xr', 'i_outlier',
       'i_irr', 'cor_exp', 'statcap', 'csh_c', 'csh_i', 'csh_g', 'csh_x',
       'csh_m', 'csh_r', 'pl_c', 'pl_i', 'pl_g', 'pl_x', 'pl_m', 'pl_n',
       'pl_k', 'ccode'],
      dtype='object')

In [12]:
data['president_visit_binary'] = data['destination country'].map(lambda x: 0 if x is None else 1)

In [13]:
data

,index,pagerank,betweenness,closeness,degree,in_degree,out_degreee,node_id,year,index,...,csh_r,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,ccode,president_visit_binary
0,24,1.000000,7.301305e-04,0.964912,1.000000,0.948718,1.000000,2,2005,NaN,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,0
1,48,0.521256,3.509150e-02,0.788530,0.600454,0.621795,0.701754,20,2005,506.0,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,20,1
2,73,0.014564,9.309024e-06,0.562660,0.014756,0.025641,0.017544,31,2005,NaN,...,0.0,1.0,1.0,1.0,1.0,1.0,1.0,2.0,31,0
3,1615,0.407570,2.397368e-01,0.761246,0.457435,0.564103,0.415205,40,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0
4,104,0.046998,0.000000e+00,0.572917,0.063564,0.070513,0.087719,41,2005,NaN,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,NaN,41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1666,0.000000,2.754619e-08,0.392157,0.000000,0.006410,0.005848,970,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0
188,1601,0.021359,0.000000e+00,0.561224,0.020431,0.032051,0.017544,983,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0
189,1604,0.023034,0.000000e+00,0.558376,0.021566,0.025641,0.017544,986,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0
190,1607,0.007736,1.725024e-05,0.548628,0.007946,0.019231,0.017544,987,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0
191,1610,0.014265,5.145696e-08,0.552764,0.014756,0.025641,0.017544,990,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0

In [17]:
columns_for_PCA = ['pagerank', 'betweenness', 'closeness', 'degree', 'in_degree', 'out_degreee']

In [25]:
X = data[columns_for_PCA].values

In [26]:
from sklearn.decomposition import PCA

In [39]:
pca = PCA(n_components=1)

In [40]:
pca.fit(X)

PCA(n_components=1)

In [41]:
X_pca = pca.transform(X)

In [43]:
pca_df = pd.DataFrame(data=X_pca, columns=['PC1'])
pca_df

          PC1
0    1.558064
1    0.792571
2   -0.414723
3    0.506693
4   -0.316877
..        ...
187 -0.483346
188 -0.405839
189 -0.408459
190 -0.427747
191 -0.417134

[192 rows x 1 columns]

In [45]:
data['PC1'] = pca_df['PC1']

In [47]:
data

,index,pagerank,betweenness,closeness,degree,in_degree,out_degreee,node_id,year,index,...,pl_c,pl_i,pl_g,pl_x,pl_m,pl_n,pl_k,ccode,president_visit_binary,PC1
0,24,1.000000,7.301305e-04,0.964912,1.000000,0.948718,1.000000,2,2005,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,2,0,1.558064
1,48,0.521256,3.509150e-02,0.788530,0.600454,0.621795,0.701754,20,2005,506.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,20,1,0.792571
2,73,0.014564,9.309024e-06,0.562660,0.014756,0.025641,0.017544,31,2005,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,2.0,31,0,-0.414723
3,1615,0.407570,2.397368e-01,0.761246,0.457435,0.564103,0.415205,40,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,0.506693
4,104,0.046998,0.000000e+00,0.572917,0.063564,0.070513,0.087719,41,2005,NaN,...,0.0,0.0,0.0,0.0,1.0,0.0,NaN,41,0,-0.316877
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187,1666,0.000000,2.754619e-08,0.392157,0.000000,0.006410,0.005848,970,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,-0.483346
188,1601,0.021359,0.000000e+00,0.561224,0.020431,0.032051,0.017544,983,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,-0.405839
189,1604,0.023034,0.000000e+00,0.558376,0.021566,0.025641,0.017544,986,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,-0.408459
190,1607,0.007736,1.725024e-05,0.548628,0.007946,0.019231,0.017544,987,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,-0.427747
191,1610,0.014265,5.145696e-08,0.552764,0.014756,0.025641,0.017544,990,2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,0,-0.417134